<button
  class="keyboard__btn"
  type="button"
  [ngClass]="{
    'keyboard__btn_circle': data?.type === 'letter' || data?.type === 'shift' || data?.type === 'backspace',
    'keyboard__btn_circle_big': data?.type === 'shift',
    'keyboard__btn_oval': data?.type === 'space'
  }"
  [@moveKey]="data!.state | async"
  (@moveKey.done)="keyPress()"
>
  <ng-container [ngSwitch]="data?.type">
    <ng-container *ngSwitchCase="'letter'">
      {{data!.symbol?.down}}
    </ng-container>
    <ng-container *ngSwitchCase="'space'">
      Пробел
    </ng-container>
    <ng-container *ngSwitchCase="'shift'">
      Шифт
    </ng-container>
    <ng-container *ngSwitchCase="'backspace'">
      <-
    </ng-container>
  </ng-container>
</button>